<main>
  <form class="formNovoContato">
    <label for="nome">Nome:</label>
    <input #nome type="text" placeholder="Nome" name="nome" id="nome" required>

    <label for="telefone">Telefone:</label>
    <input #telefone type="tel" placeholder="Telefone" name="telefone" id="telefone">

    <label for="email">Email:</label>
    <input #email type="email" placeholder="E-mail" name="email" id="email">

    <label for="data-nascimento">Data de Nascimento:</label>
    <input #dataNascimento type="date" placeholder="Data de Nascimento" name="data-nascimento" id="data-nascimento">

    <label for="tipo">Tipo de Contato:</label>
    <select #tipo name="tipo" id="tipo">
      <option value="AMIGO">Amigos</option>
      <option value="TRABALHO">Colegas de trabalho</option>
      <option value="ESCOLA">Colegas da escola</option>
      <option value="IGREJA">Membros da igreja</option>
      <option value="FAMILIA">Familiares</option>
    </select>

    <input type="button" value="Cadastrar" 
    (click)="adicionar(nome.value, telefone.value, email.value, dataNascimento.value, tipo.value)">
  </form>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>E-mail</th>
        <th>Aniversário</th>
        <th>Grupo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contato of contatos">
        <td>{{ contato.getNome() }}</td>
        <td>{{ contato.getTelefone() }}</td>
        <td>{{ contato.getEmail() }}</td>
        <td>{{ contato.getAniversario() | date:'dd/MM/yyyy' }}</td>
        <td>{{ contato.getTipo() }}</td>
      </tr>
    </tbody>
  </table>
</main>
