<main>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>E-mail</th>
        <th>Aniversário</th>
        <th>Grupo</th>
        <th>Favoritar Contato</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contato of getContatosFavoritos()">
        <td>{{ contato.getNome() }}</td>
        <td>{{ contato.getTelefone() }}</td>
        <td>{{ contato.getEmail() }}</td>
        <td>{{ contato.getAniversario() | date : 'dd/MM/yyyy' }}</td>
        <td>{{ contato.getGrupo() }}</td>
        <td>
          <input
            type="checkbox"
            name="favorito"
            [checked]="contato.getFavorito()"
            (change)="favoritar(contato, !contato.getFavorito())"
          />
        </td>
      </tr>
    </tbody>
  </table>
</main>
